{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block css %}
<link rel="stylesheet" href="/static/styles/register_login.css">
{% endblock %}

{% block title %}
registration page
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Регистрация</h2>
    {% if messages %}
    <span class="messages" id="messages-container">
        {% for message in messages %}
        <div class="{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </span>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зарегистрироваться</button>
        <a href="{% url 'login' %}">У вас уже есть аккаунт? Войдите!</a>
    </form>
</div>

{% endblock %}