{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="/static/styles/profile.css">
{% endblock %}

{% block title %}
Profile page
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="profile-container">
    <b>Профиль пользователя <span>{{ profile.user.username }}</span></b>
    <a href="{% url 'edit_profile' %}">Редактировать профиль</a>
    <p><strong>Name: </strong><span>{{profile.user.first_name}} {{profile.user.last_name}}</span></p>
    <p><strong>Email: </strong><span>{{ profile.user.email }}</span></p>
    <p><strong>О себе: </strong><span>{{ profile.bio }}</span></p>
    
</div>
{% endblock %}