{% load static %}

<div class="company-name">
    <p><img src="{% static 'images/logo.png' %}" alt="logo">restaurant</p>
</div>
<br>
<br>
<div class="footer-content">
    <div class="work-time">
        <h4>Opening Hours</h4> <br>
        <p> Monday - Sunday </p>
        10AM - 10PM <br>
    </div>
    <div class="comment">
        <h4>Book a table</h4> <br>
        <p>Urna quam massa urna dolor enim dui <br>
        Tristique dignissim pharetra <br>
        feugiat Vivamus libero feugiat</p> <br>
        <h4>(525) 847-0411</h4> <br> <br>
        <small>©Copyright Restaurant 2023. Design by Figma.guru</small>
    </div>
    <div class="address">
        <h4>Address</h4> <br>
        <p>8911 Tanglewood Ave. <br>
            Capitol Heights, <br>
             MD 20743</p><br>
    </div>
</div>