.edit-profile-container {
    margin: 10px;
    h2 {
        text-align: center;
    }
    .form-control {
        color: #349705;
    }
    button {
        padding: 10px 20px;
        border: none;
        color: snow;
        background-color: #349705;
    }
}